.Imagee {
  width: 25vw;
  height: 70vh;

}

.imagee2{

  width: 100%;
  height: 100%;
}

.ViewMore{

   border: none;
                  
                  background: none;
                  color: #133848;
                  cursor: pointer;
                  padding: 2;
                  font-size: 16px;
                  font-weight: bold;
                  transition: ease 0.2s;
}

.ViewMore:hover{

  color:#CE8A39;
  transition:  ease 0.2s;
}
