

.space{
margin-top: 30px;


}
.spacee{
color: white;
background-color: #133848;
height: 65vh;
width: 100%;
margin-top: 3%;

}
.spaceee{
color: white;
background-color: #133848;
height: 55vh;
width: 100%;
margin-top: 5%;

}
.videoo{
margin-top: 5px;
border-radius: 10%;
}

.titlee {
  text-align: center;          /* centers the text itself */
  overflow-wrap: break-word;   /* breaks long words if needed */
  max-width: 90%;              /* prevents edge overflow */
  margin: 0 auto;              /* keeps it centered in the container */
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: #133848; /* responsive font size */
}

