

.space{
margin-top: 30px;


}
.spacee{
color: white;
background-color: black;
height: 65vh;
width: 100%;

}
.spaceee{
color: white;
background-color: black;
height: 55vh;
width: 100%;

}
.videoo{
margin-top: 5px;
border-radius: 10%;
}

