.custom-carousel .slick-dots {
  bottom: 50px !important;
  z-index: 1;
}

.CoverImg3{
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin-top: 3%;
  
  
}

.cover-image3{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* fills the box, cropping overflow */
  object-position: 50% 50%; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;/* center vertically (default) */
}

