.Image {
  width: 40vw;
  height: 80vh;
  overflow: hidden;
}

.second-image {
  width: 100%;
  height: 100%;
  /* center vertically (default) */
}

.ant-skeleton.ant-skeleton-element {
    display: inline-block;
    width: 100%;
}

