.Fontt{
 
    margin-top: 5%;
    font-size: 1.5rem;
    color: white;
}
.footer{
height: 50vh;
    background-color: #133848;
}

.footer2{
height: 35vh;
    background-color: #133848;
}

.butto{
color: white;
}
.butto :hover{
    color:black
}