.Image5 {
  width: 60%;
  height: 85vh;
  overflow: hidden;
}
.Image6 {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.second-image5 {
  width: 100%;
  height: 100%;
  /* center vertically (default) */
}

.fasel2{

   border-right: 1px solid black;
   padding: 0 4%;

}

.fasel3{

   border-bottom: 1px solid black;
   padding: 0 4%;

}

.Web{
    font-size:'16px';
    font-family:'sans-serif'
}

.Web{
    font-size:'16px';
    font-family:'sans-serif'
}