.Image5 {
  width: 60%;
  justify-content: center;
  
}

.Image6 {
  width: 100%;
 height: 55vh;
 justify-content: center;
}

.second-image5 {
  width: 100%;
  height: 100%;     /* REQUIRED */
  
}

.fasel2{

   border-right: 1px solid black;
   padding: 0 4%;

}

.fasel3{

   border-bottom: 1px solid black;
   padding: 0 4%;

}

.Web{
    font-size:'16px';
    font-family:'sans-serif'
}

.Web{
    font-size:'16px';
    font-family:'sans-serif'
}

/* MessageOverrides.css */

.ant-message {
  z-index: 9999;        /* make sure it’s on top */
}

.ant-message-notice-content {
  font-size: 16px;
  color: white;
  background-color: #133848; /* dark blue like your theme */
  border-radius: 8px;
  padding: 12px 24px;
}

.ant-skeleton.ant-skeleton-element {
    display: inline-block;
    width: 100%;
}