.booknoww {
    
          display: "flex";
          justify-content: center;
          width: "100%";
          font-size: "30px";
          
        
}
.ant-menu-item:active,
.ant-menu-submenu-title:active {
  background-color: transparent !important;
}